body {
    display: flex;
    min-height: 100vh;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    align-items: stretch;
    justify-content: center;
}

.main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-summary {
    width: 70%;
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.post-summary h2 a {
    color: #4ee940;
    text-decoration: none;
}

.post-summary p.post-date {
    color: #ffffff;
    font-style: italic;
}

.post-summary p {
    margin-bottom: 10px;
}

.post-categories {
    font-size: 0.9em;
    color: #ffa844;
}

.post-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.cursor {
    width: 15px;
    height: 28px;
}