.sidebar {
  position: fixed;
  width: 250px;
  outline: 2px dashed #ffa844;
  color: #4ee940;
  background-color: black;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar ul li {
  margin: 10px 0;
  text-align: center;
}

.sidebar ul li a {
  color: #4ee940;
  text-decoration: none;
  display: block;
  width: 100%;
}

.sidebar ul li a:hover {
  color: #ffa844;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    /* Evenly space the links */
  }

  .sidebar ul li {
    margin: 0;
    /* Remove margins */
  }

  .main-content {
    margin-left: 0;
    /* Remove the margin offset */
    padding: 10px;
  }
}

.sidebar .social-media {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar .social-media a {
  color: #4ee940;
  font-size: 24px;
  margin: 0 10px;
}

.sidebar .social-media a:hover {
  color: #ffa844;
}