<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/landing.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap">
</head>

<body>
  <div class="sidebar">
    <h1>Seth Emory</h1>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/work/' | relative_url }}">Work</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>
  </div>
  <div class="main-content">
    <h1>Blog Posts<span class="cursor"></span></h1>
    {% for post in site.posts %}
    <div class="post-summary">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
      <p class="post-categories">Categories: {{ post.categories | join: ", " }}</p>
      <p>{{ post.excerpt | strip_html }}</p>
    </div>
    {% endfor %}
  </div>
</body>

</html>