<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div class="sidebar">
    <h1>Seth Emory</h1>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/work/' | relative_url }}">Work</a></li>
      <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>
    <div class="social-media">
      <a href="https://github.com/sethemory" target="_blank" aria-label="Github">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/sethemory" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://instagram.com/smemory2021" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="main-content">
    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%B %d, %Y" }} | Filed under: {{ page.categories | join: ", " }}<span
          class="cursor"></span></p>
    </div>
    <hr>
    <div class="content">
      {{ content }}
    </div>
    <div class="slideshow-container">
      {% if page.images %}
      <div class="slides">
        {% for image in page.images %}
        <div class="slide">
          <img src="{{ image.path }}" alt="{{ image.description | default: 'Blog image' }}">
          <div class="image-description">{{ image.description }}</div>
        </div>
        {% endfor %}
      </div>
      <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
      <a class="next" onclick="changeSlide(1)">&#10095;</a>
      {% endif %}
    </div>
  </div>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function changeSlide(n) {
      showSlides(slideIndex += n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slide");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }
  </script>

</body>

</html>